<header class="container-header">
  <nav class="wrapper-nav">
    <h1>Moda Luxo</h1>
    <ul>
      <li>Inicio</li>
      <li class="menu">
        Categorias <i class="fa-solid fa-chevron-down"></i>
        <ul class="drop-down">
          @for (category of categories; track $index) {
          <li>{{ category.name }}</li>
          } @empty {
          <li>...carregando</li>
          }
        </ul>
      </li>
      <li>Novidades</li>
      <li>Ofertas</li>
    </ul>
    <ul class="icons-nav">
      <li><mat-icon class="big-icon">search</mat-icon></li>
      <li><mat-icon class="big-icon">person</mat-icon></li>
      <li><mat-icon class="big-icon">local_mall</mat-icon></li>
    </ul>
  </nav>
</header>
