:host {
  .container-header {
    height: 64px;
    width: 100%;

    &,
    .wrapper-nav,
    ul {
      display: flex;
    }

    .wrapper-nav {
      margin-inline: auto;
      width: 90%;

      align-items: center;
      justify-content: space-around;

      ul {
        gap: 32px;
        list-style: none;

        li {
          font-size: 20px;
          font-weight: lighter;
          cursor: pointer;
        }

        .big-icon {
          font-size: 24px;
        }
      }
    }
  }
}
